.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FC8706;
    overflow-x: hidden;
    padding-top: 40px;
  }
  
.sidenav a {
    padding: 15px 15px;
    color: white;
    display: block;
    text-decoration: none;
}
  
.sidenav a:hover {
    color: #F0B54E;
}
  
.main {
    margin-left: 200px;
}

.group01, .group02{
  font-size: 30px;
  margin-right: 80px;
}
.group02{
  padding-top: 100px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}