iframe{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 60px;
    border: none;
}
body{
    font-family: "Josefin sans",sans-serif;
    background-color: F8f8f8;
    padding-left: 80px;
    padding-top: 15px;
}
.dashboard{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    margin-right: 10px;
}
.GdD,.OA,.promo1{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    box-shadow: 0px 4px 10px #D9D9D9;
}
button{
    width: 300px; 
    height: 50px;
    text-indent: 20px;
    color: white;
    border: none;
    border-radius: 1000px;
    background-color: #FC8706;
    box-shadow: 0px 4px 10px #D9D9D9;
    display: inline-block;
    font-family: 'Josefin sans', sans-serif;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 20px;
    margin: 4px 2px;
    justify-content: center;
    align-items: center;
}
.botones i{
    float: left;
    margin-right: 10px;
    font-size: 32;
}
button:hover{
    background-color: #F0B54E;
}
.fi-sr-star{
    padding-left: 20px;
    color: #F0B54E;
    align-items: center;
}
.contenedor{
    width: 200px;
    height: 300px;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    box-shadow: 0px 4px 10px #D9D9D9;
    border-radius: 20px;
}
.Favs{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
img{
    padding-top: 20px;
    border-radius: 10px;
    width: 150px;
    height: auto;
}
.promo img{
    width: 100%;
    height: auto;
}